:root {
    --main-bg: #FFF;
    --secondary-bg: #AAAAAA;
    --main-text: #000;
    --link-text: #207cff;
}

body {
    background-color: var(--main-bg);
    color: var(--main-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: var(--link-text);
    text-decoration: none;
}

a:visted {
    color: #5041ad;
}

footer {
    height: 15rem;
}