/*
 * Developed to use CSS grid and flexbox
 *
 * https://css-tricks.com/snippets/css/complete-guide-grid/
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 *
 **/

.content {
    width: 75%;
    margin: 0 auto;
}

.header-main {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.header-nav {
    flex-grow: 2;
    text-align: right;
}

.header-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.header-nav ul li {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
}

.header-nav ul li:last-of-type {
    margin-right: 0;
}

/* Pages */

.home-main article {
    position: relative;
    height: 100vh;
}

.home-main article:nth-of-type(even) {
    background-color: #EFEFEF;
}

.home-main article .background-image {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.home-main article .pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    padding: 20vh 0;
}

.home-main article h3 {
    font-size: 3rem;
}

.exercises-main article {
    height: 7rem;
}