/*
 * Developed to use CSS grid and flexbox
 *
 * https://css-tricks.com/snippets/css/complete-guide-grid/
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 *
 **/

.content {
    width: 75%;
    margin: 0 auto;
}

.body-main {
    background-color: var(--secondary-bg);
    margin: 0;
    padding: 0 0 3rem 0;
}

.header-main .content {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.header-nav {
    flex-grow: 2;
    text-align: right;
}

.header-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.header-nav ul li {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
}

.header-nav ul li:last-of-type {
    margin-right: 0;
}

/* Pages */

article h3, article h2 {
    display: inline-block;
    font-family: var(--more-alternate-font);
    color: var(--tertiary-text);
    background: var(--alternate-text-bg);
}

article h3 {
    color: var(--secondary-text);
}

article h4 {
    color: var(--secondary-text);
}

article.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.home-main article:nth-of-type(even), .exercises article:nth-of-type(even) {
    background-color: var(--secondary-bg);
}

.home-main article:nth-of-type(odd), .exercises article:nth-of-type(odd) {
    background-color: var(--main-bg);
}

article.hero .pane {
    position: absolute;
    top: 0;
    left: 0;
    height: 40vh;
    width: 100%;
    padding: 30vh 0;
}

article.hero .pane section.content span {
    font-size: 2rem;
    color: var(--tertiary-text);
}

article.hero h2, article.hero h3 {
    color: var(--secondary-text);
    font-size: 3rem;
    background: none;
}

article.hero .pane section.content span, article h2 span, article h3 span {
    background: var(--dark-bg);
    font-family: var(--alternate-font);
}

.exercise-main {
    padding: 2rem 0;
}

.exercise-main img {
    display: block;
    margin: 2rem auto;
}

ul.exercise-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 2rem 0 4rem 0;
}

ul.exercise-nav li {
    flex-grow: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.exercise-nav li:last-of-type {
    text-align: right;
}

.setup-main li {
    margin: 0.5rem 0;
}

.footer-main {
    padding-top: 2rem;
    margin: 0;
    color: var(--tertiary-text);
    background: var(--dark-bg);
}